body {
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
  z-index: 0;
  font-family: "Segoe UI", sans-serif;
  background-image: url('popo.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
}
#body {
  width:100%;
  height:100%;
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
  z-index: 0;
  font-family: "Segoe UI", sans-serif;
background: #085DA0;
background: linear-gradient(180deg,rgba(8, 93, 160, 1) 0%, rgba(5, 55, 154, 1) 20%, rgba(6, 49, 164, 1) 47%, rgba(4, 26, 109, 1) 78%, rgba(1, 16, 85, 1) 91%, rgba(1, 0, 40, 1) 100%);
}


#usuarios{
width:13%;
height:350px;
background: #1641a7;
transition: all 0.5s ease;
color:white;
font-size:12px;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), 0 6px 6px rgba(0, 0, 0, 0.2);
cursor:pointer;  
}

#usuarios:hover{
transform:scale(1.1);
border:6px solid white;
}

#ola1{
  width:100%;
  height:33%;
  display:flex;
  justify-content:center;
  align-items:center;
  gap: 30px;
  float: left;
  
}

#ola2{
  width:100%;
  height:33%;
  color:white;
  gap: 30px;
  float: left;
  font-size:100px;
  
}

#img{
background:#184cb7;
width:100%;
height:60%;
object-fit:cover;
}
#img2{
width:100%;
height:60%;
filter:invert(100%);
}

a{
color:white;
text-decoration: none;
}